
#box{
    height: 60vh;
}
.buttonBox{
    z-index: 3;
    position: absolute;
    width: 95vw;
    height: 60vh;
    display:flex;
    justify-content: space-between;
    
}


.slide-container {
    width: 95vw;
    height: 100%;
    overflow: hidden;
    
}
#slides{
    
    z-index: 2;
    display: flex;
    border-radius: 2;
    transition: 1s all;
}
.slide {
    width: 95vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
}
@media only screen and (max-width:950px){
    control{
        flex-basis: 100px;
        
    }
    #box{
        height: 40vh;
        
    }
    .buttonBox{
        z-index: 3;
        position: absolute;
        width: 95vw;
        height: 40vh;
        display:flex;
        justify-content: space-between;
        
    }
    
    
    .slide-container {
        width: 95vw;
        height: 40vh;
        overflow: hidden;
        
    }
    #slides{
        
        z-index: 2;
        display: flex;
        border-radius: 2;
        transition: 1s all;
    }
    .slide {
        width: 95vw;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
    }
}