.switcher{
    width:30vw;
    height:100%; 
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-top:1px solid black;
    border-right:1px solid black; 
    border-left:1px solid black
}